# SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0

.idea
*.DS_Store
build/_output

# Jenkins report files
*report*.xml
*coverage*.xml
*-output.out
